$white:#ffffff;
$orange:#FBB731;
$blue:#1E2F40;

.container{
    max-width: 1180px;
    margin: 0 auto;
}
header{
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
    .header{
        display: flex;
        justify-content: space-between;
        .left{
            padding:170px 0;
            &__time{
                font-family: 'Nunito Sans';
                font-weight: 700;
                font-size: 30px;
                line-height: 38px / 30px *100%;
                text-transform: uppercase;
                color: $orange;
                padding-bottom: 10px;
            }
            &__title{
                font-family: 'Nunito Sans';
                font-weight: 800;
                font-size: 120px;
                line-height: 140px / 120px * 100%;
                text-transform: uppercase;
                color: $white;
                max-width: 580px;
                padding-bottom: 40px;
            }
            &__text{
                font-family: 'Lato';
                font-weight: 400;
                font-size: 19px;
                line-height: 140%;
                color: #DEDEDE;
                max-width: 524px;
                padding-bottom: 42px;
            }
            &__btn{
                background: $orange;
                border-radius: 5px;
                font-family: 'Nunito Sans';
                font-weight: 700;
                font-size: 14px;
                line-height: 18px / 14px * 100%;
                text-align: center;
                text-transform: uppercase;
                color: #1E2F40;
                padding: 20px 45px;
                cursor: pointer;
            }
        }
        .right{
            background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
            width: 432px;
            position: relative;
            &__img{
                position: absolute;
                width: 829px;
                left: -230px
            }
        }
    }
}